<%= form_for @user, url: user_additional_info_path do |f| %>
  <div class="form-group">
    <%= f.label :data_nascita %><br />
    <%= f.date_field :data_di_nascita, class: 'form-control' %>
  </div>
  <%= f.submit "Complete Registration" %>
<% end %>