<div class="mask d-flex">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="card p-4">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4 border-right">
                        <h3>Dettagli per: <%= current_user.nome %></h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 border-right"></div>
                        <div class="col-md-4" id="workSchedule">
                            <%= render 'users/orario_lavoro', user: current_user %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 border-right"></div>
                        <div class="col-md-4" id="leaveInfo">
                            <%= render 'users/info_ferie', user: current_user %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 border-right"></div>
                        <div class="col-md-4" id="salaryInfo">
                            <%= render 'users/info_stipendio', user: current_user %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 border-right"></div>
                        <div class="col-md-4">
                            <a href="/"><button class="btn btn-primary">Torna alla home</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

