<div class="col-md-4" id="salaryInfo" style="display: none;">
    <h2>Informazioni Stipendio</h2>
    <select id="monthSelect" class="form-control mb-3" onchange="showSalaryInfo()">
        <option value="" disabled selected>Seleziona un mese</option>
        <option value="Jan">Gennaio</option>
        <option value="Feb">Febbraio</option>
        <option value="Mar">Marzo</option>
        <option value="Apr">Aprile</option>
        <option value="Mag">Maggio</option>
        <option value="Giu">Giugno</option>
        <option value="Lug">Luglio</option>
        <option value="Ago">Agosto</option>
        <option value="Set">Settembre</option>
        <option value="Ott">Ottobre</option>
        <option value="Nov">Novembre</option>
        <option value="Dic">Dicembre</option>
    </select>
    <p><strong>Stipendio:</strong> <span id="salaryAmount"></span></p>
</div>
