<div class="col-md-4" id="workSchedule">
    <div class="col-md-16">
        <h2>Orario di Lavoro</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Giorno</th>
                    <th scope="col">Ingresso</th>
                    <th scope="col">Uscita</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lunedì</td>
                    <td id="mondayEntry"></td>
                    <td id="mondayExit"></td>
                </tr>
                <tr>
                    <td>Martedì</td>
                    <td id="tuesdayEntry"></td>
                    <td id="tuesdayExit"></td>
                </tr>
                <tr>
                    <td>Mercoledì</td>
                    <td id="wednesdayEntry"></td>
                    <td id="wednesdayExit"></td>
                </tr>
                <tr>
                    <td>Giovedì</td>
                    <td id="thursdayEntry"></td>
                    <td id="thursdayExit"></td>
                </tr>
                <tr>
                    <td>Venerdì</td>
                    <td id="fridayEntry"></td>
                    <td id="fridayExit"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
