<div>
  <h3>Dettagli per: <%= user.nome %></h3>
  <p>Orario: <%= render 'dirigente/orario_lavoro', user: user %></p>
  <p>Ferie: <%= render 'dirigente/info_ferie', user: user %></p>
  <p>Stipendio: <%= render 'dirigente/info_stipendio', user: user %></p>
</div>
