<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 border-right">
          <h3>Dettagli per: <%= user.nome %></h3>
        </div>
    </div>
    <div class="row">
      <div class="col-md-4 border-right"></div>
      <div class="col-md-4" id="workSchedule">
        <%= render 'users/orario_lavoro', user: user %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 border-right"></div>
      <div class="col-md-4" id="leaveInfo">
        <%= render 'users/info_ferie', user: user %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 border-right"></div>
      <div class="col-md-4" id="salaryInfo">
        <%= render 'users/info_stipendio', user: user %>
        <a href="/"><button class="btn btn-primary mt-2">Torna alla home</button></a>
      </div>
    </div>
</div>
