<!-- app/views/dirigente/user_details_full.html.erb -->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 border-right">
          <h3>Dettagli per: <%= user.nome %></h3>
        </div>
    </div>
    <div class="row">
      <div class="col-md-4 border-right"></div>
      <div class="col-md-4" id="workSchedule">
        <%= render 'dirigente/orario_lavoro', user: user %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 border-right"></div>
      <div class="col-md-4" id="leaveInfo">
        <%= render 'dirigente/info_ferie', user: user %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 border-right"></div>
      <div class="col-md-4" id="salaryInfo">
        <%= render 'dirigente/info_stipendio', user: user %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 border-right"></div>
      <div class="col-md-4">
        <a href="/"><button class="btn btn-primary">Torna alla home</button></a>
      </div>
    </div>
</div>
