<div class="col-md-8" id="leaveInfo">
    <h2>Informazioni Ferie</h2>
    <div class="form-group">
        <label for="daysTaken">Giorni presi:</label>
        <input type="number" class="form-control" id="daysTaken" oninput="enableSaveLeaveButton()">
        <label for="daysLeft">Giorni rimasti:</label>
        <input type="number" class="form-control" id="daysLeft" oninput="enableSaveLeaveButton()">
    </div>
    <button id="saveLeaveButton" class="btn btn-success mt-2 ml-2" onclick="saveLeaveDays()" disabled>Salva</button>
</div>
<script>
  function enableSaveLeaveButton() {
    var daysTaken = document.getElementById('holiday_taken').value;
    var daysLeft = document.getElementById('holiday_left').value;
    var saveButton = document.getElementById('saveLeaveButton');

    // Abilita il bottone solo se entrambi i campi hanno un valore
    if (daysTaken !== "" && daysLeft !== "") {
      saveButton.disabled = false;
    } else {
      saveButton.disabled = true;
    }
  }

  function saveLeaveDays() {
    var saveButton = document.getElementById('saveLeaveButton');

    // Disabilita il bottone dopo che è stato cliccato
    saveButton.disabled = true;

    // Qui puoi aggiungere altro codice per salvare i dati tramite Ajax, se necessario
  }

  document.addEventListener('DOMContentLoaded', function() {
    var inputs = document.querySelectorAll('#leaveInfo input[type="number"]');
    inputs.forEach(function(input) {
      input.addEventListener('input', enableSaveLeaveButton);
    });
  });
</script>
