<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Salvataggio Completato!</h2>
      <p>Le tue informazioni sono state salvate correttamente.</p>
      <a href="/" class="btn btn-primary mt-3">Torna alla Home</a>
    </div>
  </div>
</div>
