<!-- Header -->
<header class="border-bottom gradient-custom-4">
  <div class="container">
    <div class="d-flex flex-wrap">
      <!-- Logo -->
      <a href="/" class="me-4">
        <!-- Aspetto dell'immagine originale: 3.66:1 -->
        <%=image_tag "logo.jpg",:size => '180x180' %>
      </a>

      <!-- Navbar -->
      <ul class="nav col-12 col-lg-auto me-lg-auto justify-content-center mb-md-0">
        <li><a href="/highlights" class="nav-link px-2 link-dark">Chi siamo</a></li>
      </ul>

      <% unless user_signed_in? %>
        <div class="me-4">
          <a href="/aziende"><button class="btn btn-primary btn-login">gestione aziende</button></a>
          <%# <a href="/signup"><button class="btn btn-primary btn-login">Registrati</button></a> %>
        </div>
      <% end %>


      <!-- Barra di ricerca -->
      <div class="me-4">
        <div class="input-group">
          <input id="src" type="search" onchange="search()" class="form-control" placeholder="cerca persone"/>
          <div class="input-group-text"><i class="fa fa-search"></i></div>
        </div>
      </div>

      <!-- Dropdown/buttons se loggato-->
      <% if user_signed_in? %>

        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ciao <%= current_user.nome %>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="/settings">Impostazioni</a></li>
            <li><a class="dropdown-item" href="#">Il mio profilo</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
            <li><hr class="dropdown-divider"></li>

            <li><%= link_to 'Sign Out', signout_path, method: :delete, class: 'dropdown-item' %></li>
          </ul>
        </div>

      <% else %>


        <div class="text-end">
        <a href="/signin"><button class="btn btn-primary btn-login">Accedi</button></a>
        <a href="/signup"><button class="btn btn-primary btn-login">Registrati</button></a>
        </div>
      <% end %>
      
    </div>
  </div>
</header>