<div class="col-md-4" id="employeeDetails" style="display: none;">
    <h2>Dettagli Dirigente</h2>
    <p><strong>Nome:</strong> <span id="employeeFirstName"></span></p>
    <p><strong>Cognome:</strong> <span id="employeeLastName"></span></p>
    <p><strong>Telefono:</strong> <input type="tel" id="employeePhone" class="form-control" oninput="enableSaveButton()"></p>
    <p><strong>Email:</strong> <input type="email" id="employeeEmail" class="form-control" oninput="enableSaveButton()"></p>
    <p><strong>Azienda:</strong> <input type="text" id="employeeCompany" class="form-control" oninput="enableSaveButton()"></p>
    <p><strong>Descrizione:</strong> <input type="text" id="employeeDescription" class="form-control" oninput="enableSaveButton()"></p>
    <button id="infoButton" class="btn btn-primary mt-2" onclick="showInfo()">info</button>
    <button id="saveButton" class="btn btn-success mt-2 ml-2" onclick="saveEmployeeDetails()" disabled>Salva</button>
</div>
