<div class="col-md-4 border-right">
    <h2>Dipendenti</h2>
    <select id="employeeSelect" class="form-control mb-3" onchange="showEmployeeDetails()">
        <option value="" disabled selected>Seleziona un dipendente</option>
    </select>
</div>
