<div class="mask d-flex">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card p-4">
        <h2>Dashboard</h2>
          <div class="row">
            <form>
                <label for="nome">Nome</label>
                <span id="nome" class="form-control" contenteditable="false" placeholder="Inserisci il tuo nome" ><%= @user.nome %></span>
                <label for="cognome">Cognome</label>
                <span id="cognome" class="form-control" contenteditable="false" placeholder="Inserisci il tuo cognome">Rossi</span>
                <label for="dataNascita">Data di Nascita</label>
                <span id="dataNascita" class="form-control" contenteditable="false" placeholder="gg/mm/aaaa">01/01/1990</span>
                <label for="telefono">Telefono</label>
                <span id="telefono" class="form-control" contenteditable="true" placeholder="Inserisci il tuo numero di telefono">1234567890</span>
                <label for="email">Email</label>
                <span id="email" class="form-control" contenteditable="true" placeholder="Inserisci la tua email">mario.rossi@example.com</span>
                <label for="descrizione">Descrizione</label>
                <span id="descrizione" class="form-control" contenteditable="true" style="height:auto; min-height:100px;" placeholder="Inserisci una descrizione">Descrizione di esempio</span>
                <button type="button" class="btn btn-primary" id="salva" onclick="salvaDati()" disabled>Salva</button>
            </form>
          </div>
       </div>
      </div>
    </div>
  </div>
</div>